
/* Breadcrumb */
.breadcrumb {
  padding: 15px 30px;
  font-size: 14px;
  color: #666;
}

.breadcrumb span {
  cursor: pointer;
  color: #007bff;
}

/* Tabla carrito */
.cart-table {
  padding: 20px 30px;
}

.cart-table table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th, .cart-table td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.product {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product img {
  width: 50px;
}

.cart-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.cart-buttons button {
  padding: 10px 20px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}

/* Resumen */
.cart-summary {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.discount input {
  padding: 10px;
  border: 1px solid #ccc;
}

.discount button {
  padding: 10px 15px;
  margin-left: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

.total-box {
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px;
}

.finalizar {
  background: red;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  margin-top: 10px;
}

